// fonte
$fonteRoboto: Roboto, sans-serif;

// variaveis 
$corFundo: #f5f6fa;
$corFundoHeader:#182C61;
$corFundoBotao: #44bd32;
$corFundoLighterBotao:#4cd137;
$corBranca:#FFF;

//breakpoints
$mobile: 767px;
$tablet: 1023px;
